/*-============GENERALES===========*/
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik",
  sans-serif;
}
.conteniner_principalHeader {
width: 100vw;
height: 8vh;
background-color: rgb(65, 42, 114);
display: flex;
justify-content: flex-end;
align-items: center;

}
.container_contenHeader{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  height: 2vh;
  width: 20vw;
  font-size: 2vh;

}
.headerSearch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;

}

.buttonSearch{
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.4rem;
  width: 11vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: rgb(65, 42, 114);
  
}

.header_buttonAdd {
  width: 20vw;
  border-radius: 0.4rem;
  padding: 0.4rem;
  border: 1px solid white;
  background-color: transparent;
  color: white; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*========MAIN===========*/
.container_view{
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
}
.listAside {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*=====STORE========*/
.store{
  background-color: rgb(98, 98, 98);
  max-height: 92vh;
  overflow-y: auto;
  width: 100%;
}
.sectionStore {
  background-color: rgb(219, 219, 219);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerTitleSection{
  margin: 1rem;
  font-size: 3vh;
  border-bottom: 1px solid gray;
}
.containerProductStore{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,0.6fr);
  gap: 2vh;
  
}
.sectionStore img{
  width: 20vw;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);

}
.containerTargetItem{
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
background-color: white;
border-radius: 0.4rem;
transition: .2s ease;
}
.containerTargetItem:hover {
cursor: pointer;
transform: scale(1.08)
}
.containerTargetItem h2{
  font-size: 2vh;
  text-align: center;
}
.targetProps{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
/* ======LISTASIDE======== */

.listAside {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.listAside h2 {
display: flex;
margin-top: 2vh;
font-size: 3vh;
justify-content: center;
align-items: center;
flex-direction: column;
}
.listAside ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1vh;
}
.listAside ul li {
  font-size: 2vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.listAside ul li:hover{
  cursor: pointer;
  background-color: rgb(85, 85, 189);
  color: white;
}
.liActive {
  background-color: rgb(165, 165, 222);
  color: white;
}/*=========popUP============*/
.popUpContainer_principal {
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
display: none;
justify-content: center;
align-items: center;
backdrop-filter: blue(4px);
}
.popUpContainer{
  width: 40vw;
  height: 50vh;
  background-color: white;
  box-shadow: 5px 2px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.containerTitlePopUP{
  width: 100%;
  text-align: center;
}
.conteinerInputs_popUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.conteinerInputs_popUp input, 
.conteinerInputs_popUp select {
  width: 80%;
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.conteinerButtonPopUp{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.buttonPopUP{
  padding: 0.6rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2vh;
}
.cancel{
  background-color: yellow;
}
.accept{
  background-color: green;
}
.delete{
  background-color: red;
}

/* Media Queries */

@media screen and (min-width: 1288px) {
  .containerProductStore {
    display: grid; /* Asegúrate de que sea un grid */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
    gap: 10px; /* Espacio entre columnas (ajusta según necesidad) */
  }

  .containerTargetItem {
    width: auto; /* Usa 'auto' o un valor que funcione bien */
    /* Otros estilos que quieras aplicar a los items, como márgenes o paddings */
  }
}

/*=====SCROLLBAR==============*/
::-webkit-scrollbar{
  width: .7rem;
  background-color: white;
  border-radius: 0.4rem;

}
::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 0.4rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(94, 94, 167);
  
}

